header img{
    height: 300px;
    margin: 0%;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgb(0,0,0,.2);
    width: 40%;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
nav{
    font-size: 35px;
    text-align: center;
}
header{
    text-align: center;
    color: rgb(245, 229, 6);
    margin: 0%;
    font-size: 25px;
    height: 900px;
}
.pikachu{
    width: 200px;
    height: 200px;
    background: url(https://babeled.com/img/pages/754.png);
    background-size: 100% 100%;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 30px;
    margin-top: 80px;
}
.intro{
    padding: 3%;
    text-align: justify;
    font-size: 30px;
    color: rgb(253, 181, 0);
}
.pokedex{
    text-align: center;
    font-size: xx-large;
    padding: 2%;
    color: rgb(7, 7, 7);
}
body{
    margin: 0%;
    width: 100%;
    background: linear-gradient(yellow,blue,violet,black);
}
nav ol{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.sommaire{
   padding: 2%;
   line-height: 300%;
   display: flex;
   justify-content: space-around;
   color: rgb(217, 255, 0);
}
.jeux{
    background-image: url(https://assets.pokemon.com/assets/cms2/img/pokedex/full/006_f3.png);
    background-position: 80%;
    background-repeat: no-repeat;
    padding: 2%;
    font-size: 25px;
    margin: 3%;
    height: 1100px;
   
}
.introo{
    color: rgb(252, 190, 2);
    text-align: center;
}
.titre1{
    padding: 3%;
    color: chartreuse;
    text-align: center;
    margin: 2%;
}
.blanc_transparent {
    background-color: rgba(255, 255, 255, 0.397);
    color: rgb(255, 21, 0);
    opacity: 0.7;
    margin-right: 50%;
    margin-left: 20%;
    font-size: 17px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgb(0,0,0,.2);
    padding: 10px;
}
.pokedex{
    font-size: 40px;
    padding: 7%;
    color: greenyellow;
}
.univers1{
    text-align: center;
    font-size: xx-large;
    padding: 2%;
    color: rgb(232, 13, 213);
}
.chen{
    width: 200px;
    height: 200px;
    background: url(https://static.wikia.nocookie.net/pokemon/images/c/cd/250px-Professeur_Chen-LGPE.png/revision/latest/top-crop/width/360/height/360?cb=20200101175155&path-prefix=fr);
    background-size: 100% 100%;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 20px;
}
.univers{
    position: absolute;
    float: left;
    text-align: justify;
    font-size: 20px;
    padding: 30px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgb(0,0,0,.2);
    width: 40%;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
.evolution{
    width: 200px;
    height: 200px;
    background: url(https://www.pokemontrash.com/images/rouge-bleu-jaune/artwork-evolutions-speciales.png);
    background-size: 100% 100%;
    border-radius: 50%;
    float: right;
    shape-outside: circle();
    margin: 20px;
}
.types1{
    text-align: center;
    font-size: xx-large;
    padding: 2%;
    color: rgb(232, 13, 213);
}
.types{
    float: right;
    text-align: justify;
    font-size: 20px;
    padding: 30px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgb(0,0,0,.2);
    width: 40%;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
.fin{
    height: 1200px;
    width: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: -10%;

}
footer img{
    display: inline-flex;
    justify-content: space-around;
    height: 300px;
    margin: 0%;
}
footer{
    height: 500px;
    text-align: center;
    color: rgb(246, 255, 0);
    margin: 0%;
}
.fin2 ol{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 5%;
    font-size: 20px;
    color: gold;
}
.contactez-nous/*début de contact*/ { 
    width: 700px;
    border: 1px solid;
    border-radius: 8px;
    padding: 0 50px 0 50px;
    background: white;
}
    
.contactez-nous > h1 {
    font-weight: 500;
    font-size: 40px;
}
    
.contactez-nous > p {
    font-weight: 300;
    font-size: 20px;
}
    
form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 83px;
    margin-top: 25px;      
}    
form div > label{ 
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 20px;
}
    
form div > input, form div > select, form div > textarea {
    background: blueviolet;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat, "sans-serif";
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
}
    
form div > input, form div > select {
    height: 50px;
    padding-left: 10px;
}
    
form div > select {
    appearance: none;
    background-size: 15px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnN2Z2pzPSJodHRwOi8vc3ZnanMuY29tL3N2Z2pzIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDIxMy4zMzMgMjEzLjMzMyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgY2xhc3M9IiI+PGc+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+Cgk8Zz4KCQk8cG9seWdvbiBwb2ludHM9IjAsNTMuMzMzIDEwNi42NjcsMTYwIDIxMy4zMzMsNTMuMzMzICAgIiBmaWxsPSIjMzAzMDMwIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBzdHlsZT0iIiBjbGFzcz0iIj48L3BvbHlnb24+Cgk8L2c+CjwvZz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPC9nPgo8ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjwvZz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPC9nPgo8ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjwvZz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPC9nPgo8ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjwvZz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPC9nPgo8ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjwvZz4KPGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPC9nPgo8ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8L2c+CjxnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjwvZz4KPC9nPjwvc3ZnPg==');
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
}
    
form div > textarea {
    height: 195px;
    padding: 15px 0px 0px 10px;
}
    
form div > input::placeholder, form div > textarea::placeholder {
    color: white;
}
    
form div > select:invalid {
    color: white;
}
    
form div > select option {
    background: white;
    color: #303030;
}
    
form div:last-child {
    align-items:center;
    margin-top: 20px;
}
    
form button {
    width: 450px;
    max-width: 500px;
    height: 60px;
    font-weight: 700;
    font-size: 28px;
    background: white;
    border: rgba(48, 48, 48, 0.5) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: #303030;
}
.contact{
    margin-left: 23.5%;
    margin-top: -10%;
    margin-bottom: 15%;
    text-align: center;
}
.main_carte{
    margin: 2%;
    margin-top: -15%;
}
.titre_intro{
    text-align: center;
    text-transform: capitalize;
}
.intro_carte{
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgb(0,0,0,.2);
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
.histoire{
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgb(0,0,0,.2);
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
}
.regle{
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgb(0,0,0,.2);
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
}
.ligue{
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgb(0,0,0,.2);
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
}
.championnat{
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgb(0,0,0,.2);
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
   margin-top: 2%;
   margin-bottom: 2%;
}
.footer_carte{
    margin-top: 5%;
}
.histoire_carte{
    width: 270px;
    height: 270px;
    background: url(https://assets.pokemon.com/assets//cms2-fr-fr/img/trading-card-game/_tiles/tcg_product_gallery_169_fr.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
    float: right;
    shape-outside: circle();
    margin: 20px;
    margin-top: 70px;
}
.materiel_image{
    width: 200px;
    height: 200px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5rs19meF_AhQWkO3Akq_0QhiNqut6fjm1ThJXPYwGS9YdUxZ53bmwRWIdB4bj-Y4Hw0U&usqp=CAU);
    background-size: 100% 100%;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 20px;
}
.materiel1{
    padding-top: 2%;
}
.ligue_list{
    text-align: center;
    font-size: 20px;
}
.ligue ul{
    list-style: none;
}
.ligue_titre{
    font-size: 30px;
}
.ligue_image{
    width: 250px;
    height: 250px;
    background: url(https://images.cults3d.com/hxMjP3Oe4KPyYlHZKsmsMMpNCoY=/516x516/https://files.cults3d.com/uploaders/23193529/illustration-file/520c798d-2341-4837-a99d-d6039d07a105/IMG_8084.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 20px;
}
.championnat_list{
 margin-left: 15%;
}
.go{
    margin: 2%;
    margin-top: -15%;
}
.intro_go{
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgb(0,0,0,.2);
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: -15%;
    margin-bottom: 2%;
}
.systeme_go{
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgb(0,0,0,.2);
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
}
.equipe_go{
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgb(0,0,0,.2);
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
}
.conception_go{
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgb(0,0,0,.2);
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
}
.divers_go{
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgb(0,0,0,.2);
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
}
.interdiction_go{
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgb(0,0,0,.2);
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;

}
.équipe_img{
    width: 250px;
    height: 250px;
    background: url(https://images.frandroid.com/wp-content/uploads/2016/08/pokemon-equipe.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 20px;
}
.equipe_go ul{
    list-style: none;
}
.systeme_img{
    width: 250px;
    height: 250px;
    background: url(https://media.nouvelobs.com/ext/uri/ureferentiel.nouvelobs.com/file/15333957.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
    float: right;
    shape-outside: circle();
    margin: 20px;
}
.conception_img{
    width: 250px;
    height: 250px;
    background: url(https://www.site-de-telechargement.fr/wp-content/uploads/Screenshot-Pokemon-Go-1024x605.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 20px;
}
.go h2{
    text-align: center;
}
.main_carte h2{
    text-align: center;
}
.interdit_go{
    width: 250px;
    height: 250px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Hsi_Lai_Temple_no_Pokemon_go_allowed.jpg/800px-Hsi_Lai_Temple_no_Pokemon_go_allowed.jpg);
    background-size: 100% 100%;
    border-radius: 50%;
    float: right;
    shape-outside: circle();
    margin: 20px;
}